<form
  [formGroup]="personForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col w-full max-w-5xl max-h-[90vh] rounded-lg overflow-hidden"
  autocomplete="off"
>
  <div class="p-6 border-b border-slate-200">
    <h2 class="text-xl font-semibold text-slate-900">
      {{ isEditMode ? 'Editar Persona' : 'Agregar Nueva Persona' }}
    </h2>
  </div>

  <div class="p-6 grow overflow-y-auto bg-slate-50">
    <!-- DATOS DE LA PERSONA -->
    <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">1. Datos de la Persona</legend>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Apellido</label>
          <input
            formControlName="lastName"
            type="text"
            class="form-input"
            placeholder="Ingrese su apellido"
          />
          @if (formUtils.isValidField(personForm, 'lastName')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'lastName') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Nombre</label>
          <input
            formControlName="firstName"
            clear
            type="text"
            class="form-input"
            placeholder="Ingrese su nombre"
          />
          @if (formUtils.isValidField(personForm, 'firstName')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'firstName') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">D.N.I</label>
          <input
            formControlName="dni"
            type="number"
            class="form-input"
            placeholder="Ingrese su dni"
          />
          @if (formUtils.isValidField(personForm, 'dni')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'dni') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Fecha de Nacimiento</label>
          <input formControlName="dateBirth" type="date" class="form-input" />
          @if (formUtils.isValidField(personForm, 'dateBirth')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'dateBirth') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Sexo</label>
          <select formControlName="gender" class="form-input">
            <option value="" disabled selected>Seleccione una opción</option>
            @for (gender of personUtils.gender(); track gender) {
              <option [value]="gender">{{ gender | titlecase }}</option>
            }
          </select>
          @if (formUtils.isValidField(personForm, 'gender')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'gender') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Estado Civil</label>
          <select formControlName="civilStatus" class="form-input">
            <option value="" disabled selected>Seleccione una opción</option>
            @for (type of personUtils.civilStatuses(); track type) {
              <option [value]="type">{{ type | titlecase }}</option>
            }
          </select>
          @if (formUtils.isValidField(personForm, 'civilStatus')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'civilStatus') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Teléfono</label>
          <input
            formControlName="phone"
            type="number"
            class="form-input"
            placeholder="Ingrese su teléfono"
          />
          @if (formUtils.isValidField(personForm, 'phone')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'phone') }}
            </span>
          }
        </div>
        <div class="lg:col-span-2">
          <label class="form-label">Tutor</label>
          <input
            formControlName="tutor"
            type="text"
            class="form-input"
            placeholder="Nombre del Tutor"
          />
          @if (formUtils.isValidField(personForm, 'tutor')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'tutor') }}
            </span>
          }
        </div>
      </div>
    </fieldset>

    <!-- DIRECCION -->
    <fieldset
      formGroupName="address"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">Dirección</legend>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Barrio</label>
          <input
            formControlName="district"
            type="text"
            class="form-input"
            placeholder="Ingrese su barrio"
          />
          @if (formUtils.isValidField(personForm, 'address.district')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'address.district') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Calle</label>
          <input
            formControlName="street"
            type="text"
            class="form-input"
            placeholder="Ingrese su calle"
          />
          @if (formUtils.isValidField(personForm, 'address.street')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'address.street') }}
            </span>
          }
        </div>
        <div>
          <label class="form-label">Localidad</label>
          <input
            formControlName="locality"
            type="text"
            class="form-input"
            placeholder="Ingrese su localidad"
          />
          @if (formUtils.isValidField(personForm, 'address.locality')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'address.locality') }}
            </span>
          }
        </div>
        <!-- <div class="lg:col-span-2">
          <label class="form-label">Provincia</label>
          <input
            formControlName="province"
            type="text"
            class="form-input"
            placeholder="Ingrese su provincia"
          />
          @if (formUtils.isValidField(personForm, 'address.province')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'address.province') }}
            </span>
          }
        </div> -->
      </div>
    </fieldset>

    <!-- GRUPO FAMILIAR -->
    <fieldset
      formArrayName="familyMembers"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">2. Grupo Familiar</legend>

      @if (familyMembers.controls.length !== 0) {
        <div class="hidden md:grid grid-cols-8 gap-4 py-2 border-b mb-2 items-center">
          <label class="text-sm font-medium text-gray-700">Apellido</label>
          <label class="text-sm font-medium text-gray-700">Nombre</label>
          <label class="text-sm font-medium text-gray-700">DNI</label>
          <label class="text-sm font-medium text-gray-700">Edad</label>
          <label class="text-sm font-medium text-gray-700">Parentesco</label>
          <label class="text-sm font-medium text-gray-700 text-center">Acción</label>
        </div>
      }

      @for (family of familyMembers.controls; track $index; let i = $index) {
        <div
          [formGroupName]="i"
          class="grid grid-cols-1 md:grid-cols-8 gap-4 py-2 items-center border-b md:border-none"
        >
          <div class="flex flex-col gap-1">
            <label class="md:hidden text-xs font-semibold text-gray-500">Apellido</label>
            <input
              formControlName="lastName"
              type="text"
              placeholder="Apellido"
              class="form-input w-full"
            />
          </div>

          <div class="flex flex-col gap-1">
            <label class="md:hidden text-xs font-semibold text-gray-500">Nombre</label>
            <input
              formControlName="firstName"
              type="text"
              placeholder="Nombre"
              class="form-input w-full"
            />
          </div>

          <div class="flex flex-col gap-1">
            <label class="md:hidden text-xs font-semibold text-gray-500">DNI</label>
            <input
              formControlName="dni"
              type="number"
              placeholder="DNI"
              class="form-input w-full"
            />
          </div>

          <div class="flex flex-col gap-1">
            <label class="md:hidden text-xs font-semibold text-gray-500">Edad</label>
            <input
              formControlName="age"
              type="number"
              placeholder="Edad"
              class="form-input w-full"
            />
          </div>

          <div class="flex flex-col gap-1">
            <label class="md:hidden text-xs font-semibold text-gray-500">Parentesco</label>
            <input
              formControlName="parentage"
              type="text"
              placeholder="Parentesco"
              class="form-input w-full"
            />
          </div>

          <div class="flex items-center justify-center pt-4 md:pt-0">
            <button
              type="button"
              (click)="removeFamily(i)"
              class="bg-red-500 text-white rounded-full h-8 w-8 flex items-center justify-center hover:bg-red-700 transition-colors shadow-sm"
            >
              ✕
            </button>
          </div>
        </div>
      }

      <button
        type="button"
        (click)="addFamily()"
        class="bg-teal-600 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
      >
        + Agregar Familiar
      </button>
    </fieldset>

    <!-- SITUACION DE SALUD -->
    <fieldset
      formGroupName="health"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">3. Situación de Salud</legend>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
        <div class="lg:col-span-2">
          <label class="form-label">Diagnóstico</label>
          <input
            formControlName="diagnostic"
            type="text"
            class="form-input"
            placeholder="Ingrese el diagnóstico"
          />
          @if (formUtils.isValidField(personForm, 'health.diagnostic')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'health.diagnostic') }}
            </span>
          }
        </div>

        <div>
          <label class="form-label">Tipo de Discapacidad</label>
          <select formControlName="disabilityType" class="form-input">
            <option value="" disabled selected>Seleccione una opción</option>
            @for (type of personUtils.disabilityTypes(); track type) {
              <option [value]="type">{{ type | titlecase }}</option>
            }
          </select>
          @if (formUtils.isValidField(personForm, 'health.disabilityType')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'health.disabilityType') }}
            </span>
          }
        </div>

        <div>
          <label class="form-label">Número CUD</label>
          <input
            formControlName="cudNumber"
            type="text"
            class="form-input"
            placeholder="N° de CUD"
          />
          @if (formUtils.isValidField(personForm, 'health.cudNumber')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'health.cudNumber') }}
            </span>
          }
        </div>

        <div>
          <label class="form-label">¿CUD vigente?</label>
          <select formControlName="activeCud" class="form-input">
            <option [value]="true">Sí</option>
            <option [value]="false">No</option>
          </select>
          @if (formUtils.isValidField(personForm, 'health.activeCud')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'health.activeCud') }}
            </span>
          }
        </div>

        <div>
          <label class="form-label">¿Realiza tratamiento?</label>
          <select formControlName="rehabilitationTreatment" class="form-input">
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
          </select>
          @if (formUtils.isValidField(personForm, 'health.rehabilitationTreatment')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'health.rehabilitationTreatment') }}
            </span>
          }
        </div>
      </div>
    </fieldset>

    <!-- SITUACION LABORAL -->
    <fieldset
      formGroupName="work"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">4. Situación Laboral</legend>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Situación Laboral</label>
          <select formControlName="status" class="form-input">
            <option value="" disabled selected>Seleccione una opción</option>
            @for (status of personUtils.jobStatuses(); track status) {
              <option [value]="status">{{ status | titlecase }}</option>
            }
          </select>
          @if (formUtils.isValidField(personForm, 'work.status')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'work.status') }}
            </span>
          }
        </div>
        <div class="lg:col-span-2">
          <label class="form-label">Empresa / Empleador</label>
          <input
            formControlName="companyName"
            type="text"
            class="form-input"
            placeholder="Nombre de la empresa"
          />
        </div>
        <div>
          <label class="form-label">¿Posee Obra Social?</label>
          <select formControlName="socialWork" class="form-input">
            <option [value]="true">Si</option>
            <option [value]="false">No</option>
          </select>
          @if (formUtils.isValidField(personForm, 'work.socialWork')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'work.socialWork') }}
            </span>
          }
        </div>
        <div class="lg:col-span-2">
          <label class="form-label">Nombre de la Obra Social</label>
          <input
            formControlName="nameSocialWork"
            type="text"
            class="form-input"
            placeholder="Ej: ISJ, OSDE, etc."
          />
        </div>
      </div>
    </fieldset>

    <!-- SITUACION DE EDUCACION -->
    <fieldset
      formGroupName="education"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">5. Situación de Educación</legend>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Nivel Educativo</label>
          <select formControlName="educationLevel" class="form-input">
            <option value="" disabled selected>Seleccione una opción</option>
            @for (level of personUtils.educationLevels(); track level) {
              <option [value]="level">{{ level | titlecase }}</option>
            }
          </select>
          @if (formUtils.isValidField(personForm, 'education.educationLevel')) {
            <span class="text-xs text-red-600">
              {{ formUtils.getFieldError(personForm, 'education.educationLevel') }}
            </span>
          }
        </div>
        <div class="lg:col-span-2">
          <label class="form-label">Establecimiento Educativo</label>
          <input
            formControlName="name"
            type="text"
            class="form-input"
            placeholder="Nombre de la escuela o institución"
          />
        </div>
      </div>
    </fieldset>

    <!-- BENEFICIOS -->
    <fieldset
      formGroupName="benefit"
      class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white"
    >
      <legend class="px-2 text-md font-semibold text-slate-700">6. Beneficios</legend>

      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-2">
        <div class="flex items-center">
          <input formControlName="auh" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">AUH</label>
        </div>

        <div class="flex items-center">
          <input formControlName="federalProgram" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Incluir Salud</label>
        </div>

        <div class="flex items-center">
          <input formControlName="pension" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Pensión</label>
        </div>

        <div class="flex items-center">
          <input formControlName="merchandise" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Bolsón de Mercadería</label>
        </div>

        <div class="flex items-center">
          <input formControlName="freePass" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Pase Libre</label>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="p-4 bg-white border-t border-slate-200 flex justify-end space-x-4">
    <button
      type="button"
      (click)="onCancel()"
      class="px-6 py-2 rounded-lg text-slate-700 bg-white hover:bg-slate-100 transition-colors border border-slate-300"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="px-6 py-2 rounded-lg text-white bg-teal-600 hover:bg-teal-700 disabled:bg-slate-400 disabled:cursor-not-allowed transition-colors"
    >
      Guardar
    </button>
  </div>
</form>
