<form
  [formGroup]="personForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col w-full max-w-5xl max-h-[90vh] rounded-lg overflow-hidden"
>
  <div class="p-6 border-b border-slate-200">
    <h2 class="text-xl font-semibold text-slate-900">
      {{ isEditMode ? 'Editar Persona' : 'Agregar Nueva Persona' }}
    </h2>
  </div>

  <div class="p-6 grow overflow-y-auto bg-slate-50">
    <!-- DATOS DE LA PERSONA -->
    <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">1. Datos de la Persona</legend>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
        <!-- <div>
          <input formControlName="apellido" type="text" class="form-input" placeholder="Apellido" />
        </div>
        <div>
          <input formControlName="nombre" type="text" class="form-input" placeholder="Nombre" />
        </div>
        <div>
          <input formControlName="dni" type="text" class="form-input" placeholder="D.N.I" />
        </div> -->
        <div>
          <label class="form-label">Fecha de Nacimiento</label>
          <input formControlName="fechaNacimiento" type="date" class="form-input" />
        </div>
        <div>
          <label class="form-label">Sexo</label>
          <select formControlName="sexo" class="form-input">
            @for (gender of genders; track gender) {
              <option [value]="gender">{{ gender }}</option>
            }
          </select>
        </div>
        <!-- <div>
          <label class="form-label">Estado Civil</label>
          <select formControlName="estadoCivil" class="form-input">
            @for (type of ['Soltero', 'Casado', 'Divorciado', 'Viudo']; track type) {
              <option [value]="type">{{ type }}</option>
            }
          </select>
        </div> -->
        <div>
          <input
            formControlName="telefono"
            type="number"
            class="form-input"
            placeholder="Teléfono"
          />
        </div>
        <div>
          <input
            formControlName="tutor"
            type="text"
            class="form-input"
            placeholder="Nombre del Tutor"
          />
        </div>

        <!-- <div>
          <input formControlName="barrio" type="text" class="form-input" placeholder="Barrio" />
        </div>
        <div>
          <input formControlName="calle" type="text" class="form-input" placeholder="Calle" />
        </div> -->
        <!-- <div>
          <input
            formControlName="localidad"
            type="text"
            class="form-input"
            placeholder="Localidad"
          />
        </div>
        <div>
          <input
            formControlName="provincia"
            type="text"
            class="form-input"
            placeholder="Provincia"
          />
        </div> -->
      </div>
    </fieldset>

    <!-- GRUPO FAMILIAR -->
    <!-- <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">2. Grupo Familiar</legend>

      <div class="space-y-3 mt-4">
        @for (familiar of familiares; track $index; let i = $index) {
          <div
            class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-8 gap-2 bg-slate-50 p-3 rounded-lg"
          >
            <input [(ngModel)]="familiar.apellido" placeholder="Apellido" class="form-input" />
            <input [(ngModel)]="familiar.nombre" placeholder="Nombre" class="form-input" />
            <input [(ngModel)]="familiar.dni" placeholder="DNI" class="form-input" />
            <input
              [(ngModel)]="familiar.edad"
              type="number"
              placeholder="Edad"
              class="form-input"
            />
            <input
              [(ngModel)]="familiar.estadoCivil"
              placeholder="Estado Civil"
              class="form-input"
            />
            <input [(ngModel)]="familiar.parentesco" placeholder="Parentesco" class="form-input" />
            <input [(ngModel)]="familiar.ocupacion" placeholder="Ocupación" class="form-input" />

            <button
              type="button"
              (click)="familiares.splice(i, 1)"
              class="bg-red-500 text-white px-2 rounded"
            >
              X
            </button>
          </div>
        }
      </div>

      <div class="mt-4">
        <button
          type="button"
          (click)="familiares.push({})"
          class="px-4 py-2 bg-teal-600 text-white rounded-md"
        >
          + Agregar Familiar
        </button>
      </div>
    </fieldset> -->

    <!-- SITUACION DE SALUD -->
    <!-- <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">3. Situación de Salud</legend>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-2">
        <div class="lg:col-span-2">
          <label class="form-label">Diagnóstico</label>
          <input
            formControlName="diagnostico"
            type="text"
            class="form-input"
            placeholder="Ingrese el diagnóstico"
          />
        </div>

        <div>
          <label class="form-label">Tipo de Discapacidad</label>
          <select formControlName="tipoDiscapacidad" class="form-input">
            @for (type of disabilityTypes; track type) {
              <option [value]="type">{{ type }}</option>
            }
          </select>
        </div>

        <div>
          <label class="form-label">Número CUD</label>
          <input
            formControlName="numeroCUD"
            type="text"
            class="form-input"
            placeholder="Ingrese el CUD"
          />
        </div>

        <div>
          <label class="form-label">Fecha Empadronamiento</label>
          <input formControlName="fechaEmpadronamiento" type="date" class="form-input" />
        </div>

        <div class="lg:col-span-2 text-sm font-semibold text-slate-600">
          <label for="opciones">¿CUD vigente?</label>
          <select id="opciones" name="opciones">
            <option value="opcion1" selected>Si</option>
            <option value="opcion2">No</option>
          </select>
        </div>

        <div class="lg:col-span-2 text-sm font-semibold text-slate-600">
          <label for="opciones">¿Realiza tratamiento/rehabilitación?</label>
          <select id="opciones" name="opciones">
            <option value="opcion1" selected>Si</option>
            <option value="opcion2">No</option>
          </select>
        </div>
      </div>
    </fieldset> -->

    <!-- SITUACION LABORAL -->
    <!-- <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">4. Situación Laboral</legend>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Situación Laboral</label>
          <select formControlName="situacionLaboral" class="form-input">
            @for (status of ['Empleado', 'Desempleado', 'Jubilado']; track status) {
              <option [value]="status">{{ status }}</option>
            }
          </select>
        </div>
        <div>
          <label class="form-label">Nombre</label>
          <input
            formControlName="nombreEmpresa"
            type="text"
            class="form-input"
            placeholder="Nombre de la Empresa"
          />
        </div>
        <div>
          <label class="form-label">Direccion</label>
          <input
            formControlName="direccionEmpresa"
            type="text"
            class="form-input"
            placeholder="Dirección de la Empresa"
          />
        </div>
        <div>
          <label class="form-label">Obra Social</label>
          <select formControlName="obraSocial" class="form-input">
            @for (status of ['Si', 'No']; track status) {
              <option [value]="status">{{ status }}</option>
            }
          </select>
        </div>
        <div class="lg:col-span-2">
          <label class="form-label">Nombre</label>
          <input
            formControlName="nombreObraSocial"
            type="text"
            class="form-input"
            placeholder="Nombre de la Obra Social"
          />
        </div>
      </div>
    </fieldset> -->

    <!-- SITUACION DE EDUCACION -->
    <!-- <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">5. Situación de Educación</legend>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-2">
        <div>
          <label class="form-label">Nivel Educativo</label>
          <select formControlName="nivelEducativo" class="form-input">
            @for (status of ['Primario', 'Secundario', 'Terciario']; track status) {
              <option [value]="status">{{ status }}</option>
            }
          </select>
        </div>
        <div>
          <label class="form-label">Nombre</label>
          <input
            formControlName="nombreEscuela"
            type="text"
            class="form-input"
            placeholder="Nombre de la Escuela"
          />
        </div>
        <div>
          <label class="form-label">Direccion</label>
          <input
            formControlName="direccionEscuela"
            type="text"
            class="form-input"
            placeholder="Dirección de la Escuela"
          />
        </div>
      </div>
    </fieldset> -->

    <!-- BENEFICIOS -->
    <!-- <fieldset class="lg:col-span-3 border border-slate-300 rounded-lg p-4 mb-4 bg-white">
      <legend class="px-2 text-md font-semibold text-slate-700">6. Beneficios</legend>

      <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 mt-2">
        <div class="flex items-center">
          <input formControlName="auh" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">AUH</label>
        </div>

        <div class="flex items-center">
          <input formControlName="incluirSalud" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Incluir Salud</label>
        </div>

        <div class="flex items-center">
          <input formControlName="pension" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Pensión</label>
        </div>

        <div class="flex items-center">
          <input formControlName="bolsonMercaderia" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Bolsón de Mercadería</label>
        </div>

        <div class="flex items-center">
          <input formControlName="paseLibre" type="checkbox" class="form-checkbox" />
          <label class="ml-2 text-sm text-slate-700">Pase Libre</label>
        </div>
      </div>
    </fieldset> -->
  </div>

  <div class="p-4 bg-white border-t border-slate-200 flex justify-end space-x-4">
    <button
      type="button"
      (click)="onCancel()"
      class="px-6 py-2 rounded-lg text-slate-700 bg-white hover:bg-slate-100 transition-colors border border-slate-300"
    >
      Cancelar
    </button>
    <button
      type="submit"
      [disabled]="personForm.invalid"
      class="px-6 py-2 rounded-lg text-white bg-teal-600 hover:bg-teal-700 disabled:bg-slate-400 disabled:cursor-not-allowed transition-colors"
    >
      Guardar
    </button>
  </div>
</form>
